
.login{
    display: flex;
    justify-content: end !important;
}

.main-div{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 0.5em 0.2em;
    padding: 10px 0;
    background-color: rgb(169, 169, 169, 0.3)
}


.sub-div > a > img{
    width: 100%;
}

.sub-div:hover {
    width: 102%;
}
.banner-div{
    display: flex;
}

.banner-div > h2 {
    flex: 1;
    margin: 0;
}
.banner-div > div {
    flex-direction: column;
    text-align: center;
}

.banner-div > div > p {
    font-size: 120%;
    line-height: 105%;
    margin: 1px;
}

