
/* /////////// BootStrap /////////////// */
.btn {
    padding: 0vw !important;
    font-size: 12px !important;
    text-transform: uppercase !important;
}



/* /////////// Default /////////////// */
body {
    background: linear-gradient(45deg, black, black, var(--primary), black, black);
    /* background: linear-gradient(45deg, transparent, var(--info), white); */
}
.navigation {
    border-radius: 0 0 10px 10px;
    padding: 0 10px;
}
.navigation > a > h1 {
    font-size: 3rem;
    font-family: monospace;
    margin: 0;
}

.login{
    display: flex;
    justify-content: end !important;
}

.ul {
    font-family: serif;
}
.login-field{
    display: flex;
    font-size: x-small;
    color: var(--light);
    justify-content: space-between;
    /* width: 380px; */
    width: 400px;
    margin-top: 10px;
}
.login-username {
    border: none;
}
.login-password {
    border: none;
}
.login-password > input:nth-of-type(2){
    margin-left: 5px;
}

/* /////////// Index /////////////// */
.main-div{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 0.5em 0.2em;
    padding: 10px 0;
    /* background-color: rgb(169, 169, 169, 0.3); */
    border-radius: 10px;
}
.sub-div {
    display: flex;
    flex-direction: column;
    height: 350px;
    border-radius: 10px;
}
.sub-div > a {
    flex: 12;
    background-size: cover;
    background-repeat: round;
    border-radius: 9px;
}

.sub-div:hover {
    width: 101%;
    height: 370px;
    border-radius: 10px;
}
.sub-div:hover > a {
    border-radius: 9px 9px 0 0;
}
.sub-div:hover .banner-div{
    display: flex;
}

.banner-div{
    display: none;
    flex: 1;
    min-width: 0;
    font-size: medium;
    align-items: center;
    border-radius: 0 0 9px 9px;
    font-family: serif;
    color: var(--light);
    background: var(--dark);
}
.banner-div > h2 {
    flex: 1;
    margin: 0;
    font-size: larger;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.banner-div > div {
    flex-direction: column;
    text-align: center;
}
.banner-div > div > p {
    font-size: 120%;
    line-height: 105%;
    margin: 1px;
}


/* /////////// Show /////////////// */
.show-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    color: rgba(240, 248, 255);
    font-family: serif;
}
.show-div > h2 {
    font-size: 4rem;
    text-transform: uppercase;
}
.show-div > img {
    width: 40%;
    border-radius: 5px;
}

.purchase-div {
    border-radius: 4px;
    display: flex;
    margin-top: 1%;
    background: linear-gradient(rgba(0, 123, 255, 0.37) ,rgba(0, 0, 0) 85%);
    width: 30.5%;
}
.purchase-title {
    display: flex;
    align-items: center;
    min-width: 0;
}
.purchase-title > h4 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.purchase-div > p {
    border: none;
    margin: 0 -23% 0 23%;
    white-space: nowrap;
}
.purchase-div > div:nth-of-type(2) {
    border: solid black;
    border-radius: 4px;
    display: flex;
    /* margin: 27px 0 -8px -18px; */
    margin: 8% 0 -2.3% -5.3%;
    background-color: black;
    padding: 1px 3px 3px 1px;
}
.purchase-div > div:nth-of-type(2) > p {
    margin: 2px 6px 0 0;
}

.about-div {
    margin: 10% 0;
}
hr {
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.4);
    margin-top: 3px;
}
.about-description {
    background: linear-gradient(rgba(0, 123, 255, 0.37) ,rgba(0, 0, 0));
    padding-bottom: 5px;
}


.review-div {
    border: none;
    width: 100%;
}
.new-review  {
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-start !important;
}
.new-review > .submit {
    margin-top: .5%;
}
.cancel{
    margin: 15% 0 0 0;
}
.review-comments{
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    overflow: auto;
    margin-top: 25px;
}
.review-comments > div {
    width: 80%;
    border-radius: 5px;
}
.review-comments > div > small {
    color: rgb(23, 162, 184);
    border-bottom-style: dashed;
    width: 17%;
    text-align: center;
    font-style: italic;
}


/* /////////// Info /////////////// */
.account-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 550px;
    min-height: 550px;
    color: white;
    font-family: serif;
}
.account-div > h2 {
    font-size: xxx-large;
    margin-bottom: 20px;
}
.account-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: -webkit-fill-available;
}
.account-info > h4 {
    margin: 0 0 0 10px;
    text-decoration: underline;
}
.account-info > p {
    margin: 0 0 50px 10px;
    font-style: italic;
    color: var(--info);
    font-size: large;
}


/* /////////// Sign up /////////////// */
.sign-up{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--light);
}
.account-type{
    width: 22vw;
    display: flex;
    justify-content: space-evenly;
}


/* /////////// Cart /////////////// */
.cart-div{
    color: var(--light);
    display: grid;
    grid-template-columns: 25vw 25vw;
    grid-gap: 1vw 2vw;
    justify-content: center;
    padding: 1vw;
}
.cart-info{
    border: solid var(--success);
    text-align: center;

}
.cart-info > img {
    /* width: -webkit-fill-available; */
    width: 24.8vw;
    height: 70vh;
}
.cart-choice{
    display: flex;
    justify-content: space-between;
    background: linear-gradient(rgba(0, 123, 255, 0.37) ,rgba(0, 0, 0));
}
.buy-form{
    display: flex;
    justify-content: space-around;
    width: 14vw;
}
.stock {
    font-size: small;
}
.qty-input{
    width: 3vw;
    height: 4vh;
}
